@import "tailwindcss";




*{
  font-family: 'Inria Serif', sans-serif;
  margin-bottom: 0%


}
body {
  overflow-x: hidden;
}
.animated-button {
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: rgba(255, 94, 91);
  border-radius: 100px;
  font-weight: 600;
  color: #ffff;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  animation: move 2s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

/* Vous recherchez une location ? */

.title{
left: calc(50% - 454px/2 - 1px);

font-family: 'Inria Serif';
font-style: italic;
font-weight: 700;
font-size: 32px;
line-height: 38px;
margin-bottom: 50px;
color: #3B3561;

}
/* From Uiverse.io by Cornerstone-04 */ 
.box {
  transition: .5s linear;
  padding: 3px;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  background: transparent;
  text-transform: uppercase;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}



.box:hover:before {
  border-color: #3B3561;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #3B3561;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
.scrollbar-hide {
    -ms-overflow-style: none;
  }
}
